@import './fonts/custom_fonts';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "font7";
}

body {
    margin: 0;
}

.content {
    margin-top: 6.4rem;
}

@import './sections/header';
@import './sections/banner';
@import './sections/why_we_are';
@import './sections/prices';
@import './sections/work';
@import './sections/services';
@import './sections/about';
@import './sections/contacts';
@import './sections/footer';

@media (max-width: 1100px) {
    @import './adaptive/mobile';
}