.why_are_we {
    &__container {
        @extend .header__bar;
    }

    &__title {
        margin: 0;

        font-size: 4.1rem;
        font-family: "font9";

        line-height: 5.5rem;

        text-align: center;

        color: rgb(226, 28, 33);
    }

    &__list {
        padding: 0;
        margin: .7rem 0;

        display: flex;
        justify-content: space-between;

        list-style-type: none;
    }

    &__item {
        font-style: italic;

        &:nth-child(1) {
            width: 33%;

            .preview__img {
                margin-left: 3.2rem;
            }

            .item__heading {
                margin-left: 3rem;
            }
        }

        &:nth-child(2) {
            width: 37%;

            .preview__img {
                margin-right: 2.8rem;
            }

            .item__heading {
                margin-right: 3.1rem;
            }
        }

        &:nth-child(3) {
            width: 29.6%;

            .preview {
                height: 11rem;
            }

            .item__heading {
                margin-right: .7rem;
            }

            .item__list {
                padding-top: .9rem;
            }
        }
    }
}

.item {
    &__preview {
        width: 100%;
        height: 12.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        margin: 1.5rem 0;

        font-size: 3.1rem;
        font-weight: 100;
        font-family: "font9";

        text-align: center;
    }

    &__list {
        margin-top: 3.7rem;
        padding-left: 3.65rem;

        font-size: 2rem;
        font-weight: 900;
        font-family: "font7";

        list-style-type: disc;

        & > *:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }
}

.preview {
    &__img {
        height: 100%;

        object-fit: cover;
    }
}